In [2]:
import pandas as pd
import os

In [3]:
def format_text(path):
    file_names = os.listdir('../data/Copy of dev_south_america_merged/')

    frames = []
    for n in file_names:
        coordinates = [float(x) for x in n[:-4].split('_')]
        df = pd.read_csv('../data/Copy of dev_south_america_merged/' + n, sep=';')
        df['coordinates'] = [coordinates] * len(df)
        frames.append(df)
    df_total = pd.concat(frames)
    return df_total

In [4]:
file_names = os.listdir('../data/Copy of dev_south_america_merged/')

In [6]:
# for n in file_names:
#     print(n[:-4].split('_'))

In [28]:
%%time
frames = []
for n in file_names:
    coor = [float(x) for x in n[:-4].split('_')]
    df = pd.read_csv('../data/Copy of dev_south_america_merged/' + n, sep=';')
    df['coordinates'] = [coor] * len(df)
    frames.append(df)
print(len(frames))

3140
CPU times: user 1min 19s, sys: 2.5 s, total: 1min 22s
Wall time: 1min 22s

In [7]:
sorted(['Colombia', 'Br√©sil', 'Brazil', 'Venezuela', 'Brasile', 'Ecuador',
       'Argentina', 'Chile', 'Argentine', 'Chili', 'Peru', 'Brasilien',
       'Uruguay', 'Trinidad and Tobago', 'Paraguay', 'Bolivie', 'Bolivia',
       'Guyana', 'Aruba', 'Suriname', 'Fransk Guyana', 'Cura√ßao',
       'Falkland Islands (Malvinas)', 'Panama', 'French Guiana'])

['Argentina',
 'Argentine',
 'Aruba',
 'Bolivia',
 'Bolivie',
 'Brasile',
 'Brasilien',
 'Brazil',
 'Br√©sil',
 'Chile',
 'Chili',
 'Colombia',
 'Cura√ßao',
 'Ecuador',
 'Falkland Islands (Malvinas)',
 'Fransk Guyana',
 'French Guiana',
 'Guyana',
 'Panama',
 'Paraguay',
 'Peru',
 'Suriname',
 'Trinidad and Tobago',
 'Uruguay',
 'Venezuela']

In [9]:
def rename_coutries(x):
    if x in ['Argentina','Argentine']:
        return 'Argentina'
    elif x in ['Brasile','Brasilien','Brazil','Br√©sil']:
        return 'Brazil'
    elif x in ['Chile','Chili']:
        return 'Chile'
    elif x in ['Fransk Guyana','French Guiana']:
        return 'French Guiana'
    else:
        return x

In [29]:
%%time
df_total = pd.concat(frames)

CPU times: user 9.03 s, sys: 716 ms, total: 9.74 s
Wall time: 9.74 s

In [30]:
df_total.head()

,lang,id,created_at,text,conversation_id,in_reply_to_user_id,reply_settings,source,possibly_sensitive,geo_place_id,...,author_description,retweet_count,reply_count,like_count,quote_count,followers_count,following_count,tweet_count,listed_count,coordinates
0,es,1431400373726715907,2021-08-27T23:36:57.000Z,"Just posted a photo @ Ciudad Trinidad, El Beni...",1.431400e+18,NaN,everyone,Instagram,False,c4320f726d222937,...,Actor/Director. Just living the best I can,0.0,0.0,0.0,0.0,238,527,8515,8,"[-14.66968932985889, -64.51162291776335]"
1,es,1430908945296617489,2021-08-26T15:04:12.000Z,"Combatiendo el fr√≠o üßâ en Ciudad Trinidad, El B...",1.430909e+18,NaN,everyone,Instagram,False,c4320f726d222937,...,"Xeneize, rocker y geek de tiempo completo. Com...",0.0,0.0,0.0,0.0,335,866,30678,17,"[-14.66968932985889, -64.51162291776335]"
2,es,1430236496984936459,2021-08-24T18:32:08.000Z,Lo m√°s sexi que ver√°s este d√≠a beb√© üòâ #ghigofl...,1.430236e+18,NaN,everyone,Instagram,False,c4320f726d222937,...,rapper and manager del grupo flow,0.0,0.0,0.0,0.0,595,85,440,1,"[-14.66968932985889, -64.51162291776335]"
3,es,1428792248385384448,2021-08-20T18:53:12.000Z,üî•üî•üî•üî•üî•üî•üî•üî•üî•üî• Hoy hace su debut 38¬∞ üå°Ô∏è en Ciudad ...,1.428792e+18,NaN,everyone,Instagram,False,c4320f726d222937,...,"Xeneize, rocker y geek de tiempo completo. Com...",0.0,0.0,0.0,0.0,335,866,30678,17,"[-14.66968932985889, -64.51162291776335]"
4,es,1428466559765286916,2021-08-19T21:19:02.000Z,#Creemos en los #jovenes Inauguraci√≥n: Escuel...,1.428467e+18,NaN,everyone,Instagram,False,c4320f726d222937,...,Estudio de dise√±o arquitect√≥nico Dise√±o de viv...,0.0,0.0,0.0,0.0,12,0,47,0,"[-14.66968932985889, -64.51162291776335]"

In [31]:
df_total.coordinates.iloc[0]

[-14.66968932985889, -64.51162291776335]

In [32]:
df_total.shape

(10815072, 35)

In [33]:
df_total.id.value_counts()

1364435440456114176    8
1359732461874401280    8
1357297315783008263    8
1359728025751883777    8
1359728075819384838    8
                      ..
1426570461069168643    1
1426570522935111681    1
1426570542858088453    1
1426570548553863171    1
1432881235022516228    1
Name: id, Length: 6799149, dtype: int64

In [ ]:
10 815 072